<html>
	<head>
		<script>var logged = Boolean({{ logged }});</script>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Найди тупиздня<small> новая интеллектуальная игра</small></h1>
			</div>
			<div class="row">
				<div class="col-lg-12 text-right">
					<ul class="list-inline">
						<li><a href="#"><img src="/static/img/avatars/anon.jpg" width="30" height="30" class="img-circle"> Анонимус</a></li>
						<li><a href="#"><img src="/static/img/avatars/vasia.jpg" width="30" height="30" class="img-circle"> Васян</a></li>
						<li><a href="#"><img src="/static/img/avatars/pacan.jpg" width="30" height="30" class="img-circle"> xЧеткий пацанx</a></li>
						<li><a href="#"><img src="/static/img/avatars/bydlo.jpg" width="30" height="30" class="img-circle"> Быдло с района</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-7 col-lg-offset-2">
					<div class="jumbotron" id="question">
						<p id="question_description"><!-- Вставьте слово, которое означало бы то же, что и слова, стоящие вне скобок. --></p>
						<form class="form-inline" role="form">
							<div id="question_text"><!--ТКАНЬ (<input class="form-control" style="width:100px;">) СОСТОЯНИЕ ВЕЩЕСТВА--></div>
							<div class="text-right">
								<button class="btn btn-info" id="next_question">Дальше</button>
							</div>
						</form>
					</div> <!-- /jumbotron -->
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Войдите!</h4>
					</div>
					<div class="modal-body">
						<form role="form" action="/login" method="post" id="authModalForm">
						  <div class="form-group">
						    <label for="inputEmail1">Email</label>
						    <input type="email" class="form-control" id="inputEmail1" placeholder="email" name="email">
						  </div>
						  <div class="form-group">
						    <label for="inputPassword1">Password</label>
						    <input type="password" class="form-control" id="inputPassword1" placeholder="Password" name="password">
						  </div>
						  <p><a href="/register">Зарегистрироваться</a></p>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
						<button type="button" class="btn btn-primary" id="authModalSubmit">Готово</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
		<!-- <script src="js/underscore-min.js"></script>
		<script src="js/backbone-min.js"></script> -->
		<script src="/static/js/index.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
